meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" href="bootstrap/bootstrap.min.css")
link(rel="stylesheet" href="bootstrap/animate.min.css")
script(src="bootstrap/jquery.min.js") 
script(src="bootstrap/popper.min.js") 
script(src="bootstrap/bootstrap.min.js")