div.toast.m-4.uploader.d-none(data-autohide="false")
  div.toast-header.d-flex.justify-content-between
    b Uploader
    button(type="button" class="ml-2 mb-1 close" data-dismiss="toast") &times;
  div.toast-body
    span.file-name
    div.upload-progress.my-2
      div.upload-progress-bar.progress-width
    span.file-in-mb.progress-in-mb
